body {
    display: flex;
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center; /* Memusatkan secara vertikal */
    height: 100vh; /* Mengatur tinggi body menjadi 100% dari viewport */
    margin: 0; /* Menghapus margin default */
    background-color: #b5a94e; /* Warna latar belakang (opsional) */
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: black;
}

th {
    background-color: #a36f49;
}

td {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
}